# Strava (https://www.strava.com/settings/api)
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
VITE_STRAVA_CLIENT_ID=

# Google Maps Platform (Needs Maps JS API & Elevation/Isochrones)
GMP_SERVER_API_KEY=
VITE_GMP_API_KEY=

# Mapbox & PurpleAir (for aqi-map demo)
PURPLEAIR_API_KEY=
MAPBOX_PUBLIC_TOKEN=
MAPBOX_STYLE_URL=mapbox://styles/mapbox/dark-v11
